$s-breakpoints: (
	"0": 0px,
	"xs": 480px,
	"md": 960px,
	"lg": 1280px
) !default;

// colors
$red : #db2828;
$dark-red: #5B1111;
$green: #61DF61;
$dark-green: #44A80E;
$blue: #0E6DA8;
$dark-blue: #135F8E;