$s-breakpoints: ('0': 0px, 'xs': 480px, 'md': 960px, 'lg': 1280px) !default;

// colors
$red: #db2828;
$dark-red: #5b1111;
$green: #61df61;
$dark-green: #44a80e;
$blue: #0e6da8;
$dark-blue: #135f8e;

$main: #80a1c1;
$main-dark: #5d8fc1;
$main-light: #b9d5f2;
$secondary: #344055; //#a71d31;
$terciary: #989aa5;
