.u-bkg {
  &--main-color {
    background-color: $main;
    color: white;
  }
  &--red {
    background-color: $red;
  }

  &--green {
    background-color: $green;
  }

  &--blue {
    background-color: $blue;
  }
}

.u-link {
  &--dark-green {
    color: $dark-green;
  }
}
