.u-align {
  &--left {
    text-align: left;
  }
}

.u-link {
  &--dark-green {
    color: $dark-green;
  }

  &--main-color{
    color:$main
  }

  &--secondary-color{
    color:$secondary
  }
}

.u-color {
  &--white {
    color: white;
  }
}