.c-form {
  &-container {
    padding-bottom: 50px;
  }

  max-width: 320px;
  margin: 0 auto;
  padding-top: 50px;

  &--expense,
  &--login {
    color: white;
  }

  &__label,
  &__input {
    width: 100%;
    display: block;
  }

  &__label {
    font-size: 1.1em;
    line-height: 2;
    margin-top: 30px;
  }

  &__input {
    height: 45px;
    font-size: 20px;
    padding-left: 10px;

    &::placeholder {
      font-size: 12px;
    }
    &--select {
      background-color: white;
      height: 45px;
      text-transform: capitalize;
      option {
        text-transform: capitalize;
      }
    }
  }

  fieldset {
    width: 100%;
    position: relative;
  }
  .c-input__search {
    float: left;
    width: 100%;
    border: 3px solid $main;
    padding: 5px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    outline: none;
    color: #9dbfaf;

    &:focus {
      color: $main;
    }
  }
  .c-input__search-button {
    position: absolute;
    right: 0px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid $main;
    background: $main;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
  }
}
