.c-info-box {
  border: 2px dashed $main;
  padding: 20px;
  line-height: 1.5;
  margin-top: 30px;
  color: $main;

  &--white {
    border-color: white;
    color: white;
  }

  &__title {
    font-weight: bold;
    font-family: $titles;
    font-size: 22px;
    padding-bottom: 20px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__list-item {
    width: 50%;
    margin: auto;
    text-transform: capitalize;
  }
}
