.c-table {
  margin-top: 50px;
  text-align: center;

  &-row {
    line-height: 35px;
  }

  &__head {
    font-weight: bold;
    color: $secondary;
    // text-align: left;
  }

  &__data {
    text-transform: capitalize;
  }
}
