.c-table {
  max-width: 360px;
  margin: 0 auto;
  margin-top: 50px;

  &-row {
    line-height: 35px;
  }

  &__head {
    font-weight: bold;
    // text-align: left;
  }

  &__data {
    padding-right: 45px;
    text-transform: capitalize;

    &:last-child {
      padding-right: 0;
    }
  }
}
