
.c-top-nav{


    border-bottom: grey 1px solid;


    &__list{
        padding: 0px;
        display: flex;


    }

    &__item{

        flex-basis: 0;
        flex-grow: 1;
        text-align: center;
        line-height: 50px;

        &:hover,
        &.current-item,
        &:focus{
            text-decoration: underline;
        }
    }
}


.c-button{

    background: none;
    border: none;

    &--large{
        font-size: 40px;
        line-height: 70px;

    }

    &--full-bottom{
        width: 100%;
        position: fixed;
        bottom: 0;
    }

    &--red{
        background-color: $red;
        color: white;
    }
}

.c-total-expenses{

    // justify-content: flex-start;

    padding: 40px 40px;
    text-align: center;
    line-height: 1.5;

    &__title{
        text-align: center;
    }
    &__item{
        font-size: 25px;

    }
    &__amount{

        text-align: center;
    }
    &__current-month{
        font-size: 18px;
        color: grey;
    }
}

.c-accordeon{
    max-width: 320px;
    margin: 0 auto;
    border: 1px solid grey;
    padding: 0 5px;
    border-radius: 2px;

    &__month, &__detail{
        width: 100%;
    }

    &__month{
        font-size: 1.3em;
        border-bottom: 1px solid grey;
        padding: 5px 10px;
        line-height: 1.5;

        &:last-child{
            border: none;
        }

        &--plus::after{
            content: "\002B";
            float: right;
        }

        &--minus::after{
            content:"\2212";
            float: right;
        }
    }

    &__detail{
        padding-left: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        line-height: 1.3;
    }
}
